<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="primary">
    <h2>Clientes</h2>
  </ion-text>
 
  <ion-row>
    <ion-col>codigo</ion-col>
    <ion-col>Nombre</ion-col>
    <ion-col>Cedula</ion-col>
    <ion-col>telefono</ion-col>
  </ion-row>
  

  <ion-list *ngFor="let cliente of clientes">
    <ion-item>
        <ion-label>{{cliente.codigo}}</ion-label>
        <ion-label>{{cliente.nombre}}</ion-label>
        <ion-label>{{cliente.cedula}}</ion-label>
        <ion-label>{{cliente.telefono}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
