<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Actualizar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="padding-pri">

   <ion-row>
      <ion-col class="center">
        <ion-title color="primary" class="title">Actualizar Clientes</ion-title>
      </ion-col>
    </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
          <ion-label  position="floating">Código<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="number" [(ngModel)]="codigo" required autocomplete ="off" ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" type="submit" (click)="buscarCliente()">Buscar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="myFlag">
    <ion-row>
      <ion-col>codigo</ion-col>
      <ion-col>Nombre</ion-col>
      <ion-col>Cedula</ion-col>
      <ion-col>telefono</ion-col>
    </ion-row>
     <ion-list *ngFor="let cliente of clientes">
    <ion-item>
        <ion-label>{{cliente.codigo}}</ion-label>
        <ion-label>{{cliente.nombre}}</ion-label>
        <ion-label>{{cliente.cedula}}</ion-label>
        <ion-label>{{cliente.telefono}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-item>
          <ion-label  position="floating">Nombre<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="text" [(ngModel)]="nombre" required autocomplete ="off"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
          <ion-label  position="floating">Cédula<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="text" [(ngModel)]="cedula" required autocomplete ="off"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
          <ion-label  position="floating">Telefono<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="text" [(ngModel)]="telefono" required autocomplete ="off"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" type="submit" (click)="actualizarCliente()">Actualizar</ion-button>
      </ion-col>
    </ion-row>
  </div>
  </ion-grid>
</ion-content>
